@import './reset/variables';
/*footer*/
.pie{
    background-color:$color-footer;
    a{
        color: #adada7;
    }
    
}

.d-inline-block {
    display: inline-block;
    width: 30px;
    height: 24px;
}