//colores
$color-grisfondo:#666666;
$color-naranjatitan:#FFA500;
$color-footer:#333333;
$color-negro:#000000;

//variables
$fuente-std: "Nunito", sans-serif;
$fuente-titulos: "Big Shoulders Stencil Display", sans-serif;
$fuente-links: "Bungee Hairline", sans-serif;

//MAP
$tam-textos: (
    header-xl: 6rem,
    header-sm: 4rem,
    body-text:1.5rem,
    body-title:3rem,
    body-subtitle:2.5rem,
    cards-desc:20px,
    card-suscrip:2.8rem,
    card-shop: 1.8rem,
)